input[type=radio], input[type=checkbox] {
    display: none;
}

input[type=radio] + label {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #aaa;
    border-radius: 50px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=radio]:hover + label {
    background-color: yellow;
}

input[type=radio]:checked + label {
    background-color: #ff0000;
}
input[type=radio]:checked + label.top {
    background-color: green;
}
input[type=radio]:checked + label.mid {
    background-color: orange;
}
input[type=radio]:checked + label.min {
    background-color: red;
}